[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
coverage = "*"
requests = "*"
roleml = "*"
cassiopeia = {git = "https://github.com/meraki-analytics/cassiopeia"}

[requires]
python_version = "3.7"
