[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
coverage = "*"
cassiopeia = {git = "https://github.com/meraki-analytics/cassiopeia.git"}

[requires]
python_version = "3.7"
