<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1 align='center'><b>{{summ_name}}</b> is {{tier}} {{division}}   <br> </h1>
<div align='center'>
Wins: {{wins}} 
Losses: {{losses}} 
Win Loss ratio: {{win_loss}}% 
</div>
<br>
<div class='container'>
<h2 align='center'> Most Recent Game Stats </h2><br>

{% for match in 5matches %}
<div class='row bg-light'>
<form action="/single/" method="GET">
    <input id="summ_name" type="hidden" name="summ_name" value="{{summ_name}}">
    <input id="match_id" type="hidden" name="match_id" value="{{match.id}}">
    <input class='btn-primary align-center' type="submit" value="Analyze">
    
</form>

{# BLUE TEAM DISPLAY #}

<div class='col-sm'>
    <h4>Blue Side: 
    {% if match.blue_team.win %}
    Won
    {% else %}
    Lost
    {% endif %}
    </h4>
    {% for p in match.blue_team.participants %}
        
        {% if p.summoner.name == summ_name %}
            
            <b>{{summ_name}}: {{p.champion.name}} {{p.stats.kills}}/{{p.stats.deaths}}/{{p.stats.assists}}</b>
            
        {% else %}
            {{p.summoner.name}}: {{p.champion.name}} {{p.stats.kills}}/{{p.stats.deaths}}/{{p.stats.assists}}
        {% endif %}
       
    <br>
    {% endfor %}
</div>
{# RED TEAM DISPLAY #}
<div class='col-sm'>
    <h4>Red Side: 
    {% if match.red_team.win %}
    Won
    {% else %}
    Lost
    {% endif %}
    </h4>
    {% for p in match.red_team.participants %}
        {% if p.summoner.name == summ_name %}
            <b>{{summ_name}}: {{p.champion.name}} {{p.stats.kills}}/{{p.stats.deaths}}/{{p.stats.assists}}</b>
            
        {% else %}
            {{p.summoner.name}}: {{p.champion.name}} {{p.stats.kills}}/{{p.stats.deaths}}/{{p.stats.assists}}
        {% endif %}
    <br>
    {% endfor %}
</div>

</div>
<br>
{% endfor %}
</div>